$blue: #2196f3;

.content {
  max-width: 1280px;
}

.blue-border {
  border: 1px solid $blue !important;
}

.line-through {
  text-decoration: line-through !important;
}

.cursor-pointer {
  cursor: pointer;
}

// For Products
.product-quantity-input input {
  text-align: center !important;
}
  
.product-quantity-input input::-webkit-outer-spin-button,
.product-quantity-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}