
.swiper-container {
  padding: 2px;
  height: 360px;
  width: 100%;
}

.swiper {
  .swiper-slide {
    height: 335px !important;
    width: 217.5px !important;
    background-color: #FFFFFF;
    border: thin solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }

  .swiper-slide:hover {
    background-color: #ffffff;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
  }

  .swiper-button-prev {
    color: grey;
    left: 0px !important;
    cursor: pointer !important;
  }

  .swiper-button-next {
    color: grey;
    right: 0px !important;
    cursor: pointer !important;
  }

  .swiper-pagination {
    bottom: 0 !important;
  }
}