.product-card {
  height: 305px;
    
  .container  {
    padding: 5px !important;

    .product-image {
      cursor: pointer;
      height: 200px;
      width: 192px;
      margin: auto;

      @media screen and (orientation:portrait) {
        height: 190px;
        width: 182px;
      }
    }
  }
}